body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;
}

@media (max-width: 600px){

    .menu__toggle{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 20;
    }
    .menu__liste{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: hotpink;
        margin: 0;
        z-index: 10;
        display: none;
    }
    .menu--open .menu__liste{
        display: block;
        background-color: rgb(217, 137, 227);
    }

}